GOOGLE_API_KEY=<<your_gemini_api_key_here>>

# Optional: set LANGSMITH_TRACING=true and fill these in if you want tracing
LANGSMITH_API_KEY=<<your_langsmith_api_key_here>>
LANGSMITH_TRACING=false
LANGSMITH_PROJECT=<<your_project_name_here>>
